src/StackOutput.json
node_modules/
dist/
package-lock.json
env/
lambda-template-export.yml
image_processing/requirements/*
~!image_processing/requirements/__init__.py
yolo/requirements/*
~!iyolo/requirements/__init__.py
*.pb
requirements.zip
